.screenContainer {
    width: 100%;
    height: 10vh;
    margin: 0;

    background: var(--backgroundCalculator);

    display:flex;
    justify-content: flex-end;

    border-radius: 10px 10px 0 0;
}

.screenContainer > div {
    width: 100%;
    margin: 7px;

    background: var(--screenCalculator);

}